.hide {
    display: none;
}

button {
    border: 0;
    cursor: pointer;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

section {
    margin-top: 50px;
}

section + section {
    padding-top: 50px;
    border-top: 1px solid #CCCCCC;
}

form .input-row {
    margin-top: 10px;
}

form label strong {
    display: inline-block;
    width: 100px;
}

form button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    background: lightblue;
    font-weight: bold;
}

form button + button {
    background: lightcoral;
}

table {
    width: 500px;
}

table tbody td {
    padding: 5px 10px;
}

table tbody td:first-child {
    width: 100px;
    text-align: center;
}

table tbody td:last-child {
    text-align: right;
}

table tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 10%);
}

table tbody tr.selected {
    background: rgba(255, 0, 0, 10%);
}